# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Media / large files
*.mp3
*.wav
*.mp4

# Temporary files
*.tmp

# Python packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
